<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragm::head"></head>
<body>
<div class="container-fluid">
    <header th:replace="fragments/fragm::navbar">

    </header>

    <main class="j-err backgroundErr-image">
     <span
             style="font-size: 30px; font-weight: bold; color: #ff0000;
            vertical-align: middle; text-align: center; align-content: center; display: block;
position: relative; top: 35%">Something went wrong...</span>
    </main>
    <footer th:replace="fragments/fragm::footer"></footer>
</div>
</body>
</html>