<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragm :: head"></head>
<body>
<header th:replace="fragments/fragm.html :: nav"></header>


<main class="j-err backgroundErr-image">

    <hr class="bg-hero hr-2"/>
    <h1 style="font-size: 50px" class="text-center font-weight-bold text-black">Something went wrong!</h1>
    <div class="text-center">
        <h3  th:utext="${message}" style="font-size: 25px; color: #ff0000;">Page Not Found</h3>
    </div>

</main>
<footer th:replace="fragments/fragm :: footer"></footer>
</body>
</html>