<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/fragm.html :: head"></head>

<body>
<header th:replace="fragments/fragm.html :: nav"></header>

<main th:object="${workout}" th:style="'background-image:url(' + *{imageUrl} + ')'" class="background1-image">
    <div class="container all-users-box">
        <h2 th:text="*{heading}" class="text-light text-center  m-5 ">Do you want to learn pilates ?</h2>
        <div><img th:src="*{trainer.trainerPictureUrl}" class="img-fluid rounded w-50 mx-auto d-block"></div>
        <h3 th:text="*{trainer.headingTrainer}" class="mt-5 mb-5 text-light">Our trainer Jane Doe will show you her love
            for pilates</h3>
        <p th:text="*{description}" class="container p-0 text-light">Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Magnam eveniet
            adipisci molestias porro cumque quaerat veritatis voluptas accusantium ipsum soluta, officia vero quidem,
            natus consequatur quae quia dolorem! Natus, accusantium.</p>
        <div class="d-flex justify-content-between">
            <div>
                <div style="font-size:1.5em">
                    <!--                     <a th:href="@{/workouts/addToWorkoutsList/{id}(id = *{id})}"-->
                    <!--                        th:text="|Add *{name} to my workouts this week|"-->
                    <!--                        class="button5" style="background-color:blue;">Add pilates to my workouts</a>-->
                    <form th:action="@{/workouts/addToWorkoutsList/{id}(id=${workout.id})}" method="POST">
                        <button
                                th:text="|Add *{name} to my workouts this week|"
                                class="button5" style="background-color:blue;">Add to Favorites
                        </button>
                    </form>
                    <br>
                </div>
            </div>

        </div>
    </div>

    <section>
        <div class="container  py-5 all-users-box">
            <form th:method="POST"
                  th:object="${posts}"
                  th:action="@{/workouts/details/{id}(id=${workout.id})}"
                  class="mt-5">
                <div class="row d-flex justify-content-center">

                    <div class="col-md-12 col-lg-10 col-xl-8">


                        <h3 th:if="${!allPostsForCurrWorkout.isEmpty()}" class="text-center text-light">Last
                            comments</h3>
                        <h3 th:if="${allPostsForCurrWorkout.isEmpty()}" class="text-center text-light">Be the first to
                            post a review</h3>

                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"
                             data-pause="true"
                             data-interval="500">

                            <div class="carousel-inner">
                                <div th:each="p, iterStat : ${allPostsForCurrWorkout}"
                                     th:class="${iterStat.first} ? 'all-users-box carousel-item active' : 'all-users-box carousel-item'">

                                    <!--                                    <div th:each="p : ${allPostsForCurrWorkout}" th:object="${p}"-->
                                    <!--                                         th:class="${p.id} == 1  ? 'carousel-item':'carousel-item active'">-->
                                    <div class="d-flex flex-start align-items-center">
                                        <img class="rounded-circle shadow-1-strong me-3" src="/images/gym.webp"
                                             alt="avatar"
                                             width="60" height="60"/>
                                        <div>
                                            <h6 th:text="|${p.getUserCredentialsDto().getFirstName()}|"
                                                class="fw-bold text-primary mb-1">Lily Coleman</h6>
                                            <p th:text="${#temporals.format(p.date, 'dd-MM-yyyy HH:mm')}"
                                               class="text-light small mb-0">
                                                Jan 2020
                                            </p>
                                            <p th:text="|Rating: ${p.stars}/5.00|"
                                               class="text-warning font-weight-bold small mb-0"></p>
                                        </div>

                                    </div>

                                    <p class="mt-3 mb-4 pb-2 text-light" th:text="|${p.message}|">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip consequat.
                                    </p>
                                    <div>
                                        <form sec:authorize="hasRole('ROLE_ADMIN')"
                                                type="submit"
                                                class="btn btn-primary btn-sm"
                                            >Delete comment
                                        </form>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>

                        <h3 class="text-center text-light">Add comment</h3>

                        <div class="all-users-box">

                            <div class="card-footer py-3 border-0">
                                <div class="card-footer py-3 border-0">
                                    <div class="d-flex flex-start w-100">

                                        <img class="rounded-circle shadow-1-strong me-3" src="/images/gym.webp"
                                             alt="avatar"
                                             width="40" height="40"/>
                                        <div class="form-outline w-100">
                                        <textarea class="form-control"
                                                  id="textAreaExample" rows="4"
                                                  name="message"
                                                  style="background: #fff;"></textarea>
                                            <label class="form-label text-light"
                                                   for="textAreaExample">Message</label>
                                        </div>

                                    </div>
                                    <div class="align-content-center d-flex flex-start">
                                        <input value="0" type="hidden"
                                               class="rating" data-glyphicon="0"
                                               th:field="*{stars}">
                                    </div>
                                    <div class="float-end mt-2 pt-1">
                                        <button type="submit" class="btn btn-primary btn-sm">Post comment</button>
                                        <button type="submit" class="btn btn-outline-primary btn-sm">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </form>

        </div>

    </section>
</main>

<footer th:replace="fragments/fragm.html :: footer" class="text-center text-lg-start bg-dark text-muted "></footer>
<script th:src="@{js/del.js}"></script>

</body>

</html>